<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Página de Inicio</title>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
  <h1><%= mensaje %></h1>
  <p>Bienvenido a la aplicación de votación con Express y EJS.</p>
  <script src="/js/script.js"></script>
</body>
</html>
